body {
  color: #333; /* Dark gray text color */
  background-color: #f0f0f0; /* Light gray background */
  border-radius: 2px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15%;
}
