ul {
  list-style-type: none;
  margin-top: 10%;
  padding: 0;
  text-align: center;
  padding: 20px;
}
li {
  display: inline;
  padding: 20px;
}
a {
  padding: 20px;
  text-decoration: none;
  color: #333; /* Dark gray text color */
  background-color: #f0f0f0; /* Light gray background */
  border-radius: 2px;
}
a:hover {
  color: red;
}
body {
  background-color: #f0f0f0; /* Light gray background */
}
#text {
  text-align: center;
  margin-top: 100px;
}
